trigger:
  branches:
    include:
      - '*'

variables:
  # - group: global-context
  - name: PYPI_URL
    value: https://pypi.tuna.tsinghua.edu.cn/simple
  - name: buildImage
    value: "acr.aishu.cn/dip/py.build:3.10.18-20251020"

# parameters:
#   - name: AgentAppBaseBranch
#     displayName: 触发agent-app-base运行
#     type: string
#     default: $(Build.SourceBranch)
    # default: feature/data-737327


stages:
  - stage: BuildStage
    jobs:
      - job: Build_Source_Sdk
        displayName: Build_Source_Sdk
        pool:
          name: python
        workspace:
          clean: all
        steps:
          - script: |
              set -ex
              
              docker run  --rm \
                -v $(pwd):/dolphin-language \
                $(buildImage) bash -c "
                
                cd /dolphin-language
                
                uv build

                "
            displayName: "Build package"

          - task: CopyFiles@2
            displayName: Copy File
            inputs:
              SourceFolder: $(Build.SourcesDirectory)
              contents: |
                dist/*
              targetFolder: $(Build.BinariesDirectory)
          - task: PublishBuildArtifacts@1
            displayName: Publish Build Artifacts
            inputs:
              PathtoPublish: '$(Build.BinariesDirectory)'
              ArtifactName:  dist
